@page
@model EmailModel
@{
    ViewData["Title"] = "이메일 관리";
    ViewData["ActivePage"] = ManageNavPages.Email;
}

<h3 class="mb-3">@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="email-form" method="post">
            <div asp-validation-summary="All" class="text-danger" role="alert"></div>
            @if (Model.IsEmailConfirmed)
            {
                <div class="form-floating mb-3 input-group">
                    <input asp-for="Email" class="form-control" placeholder="현재 이메일" disabled />
                    <div class="input-group-append">
                        <span class="h-100 input-group-text text-success fw-bold">✓</span>
                    </div>
                    <label asp-for="Email" class="form-label"></label>
                </div>
            }
            else
            {
                <div class="mb-3">
                    <label asp-for="Email" class="form-label"></label>
                    <div class="input-group">
                        <input asp-for="Email" class="form-control" placeholder="현재 이메일" disabled />
                        <button id="email-verification" type="submit" asp-page-handler="SendVerificationEmail" class="btn btn-outline-primary">
                            인증 메일 보내기
                        </button>
                    </div>
                </div>
            }
            <div class="mb-3">
                <label asp-for="Input.NewEmail" class="form-label"></label>
                <input asp-for="Input.NewEmail" class="form-control" autocomplete="email" aria-required="true" placeholder="새 이메일 주소를 입력하세요." />
                <span asp-validation-for="Input.NewEmail" class="text-danger small"></span>
            </div>
            <button id="change-email-button" type="submit" asp-page-handler="ChangeEmail" class="btn btn-primary w-100">이메일 변경</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
