@page
@model ShowRecoveryCodesModel
@{
    ViewData["Title"] = "복구 코드";
    ViewData["ActivePage"] = "TwoFactorAuthentication";
}

<partial name="_StatusMessage" for="StatusMessage" />
<h3 class="mb-3">@ViewData["Title"]</h3>
<div class="alert alert-warning" role="alert">
    <p class="mb-1">
        <strong>복구 코드를 안전한 장소에 보관하세요.</strong>
    </p>
    <p class="mb-0">
        기기를 분실하고 복구 코드를 찾지 못하면 계정 접근이 불가능합니다.
    </p>
</div>
<div class="row">
    <div class="col-md-12">
        @for (var row = 0; row < Model.RecoveryCodes.Length; row += 2)
        {
            <code class="recovery-code">@Model.RecoveryCodes[row]</code><text>&nbsp;</text><code class="recovery-code">@Model.RecoveryCodes[row + 1]</code><br />
        }
    </div>
</div>
